<a href="https://uk.pcpartpicker.com/list/Mbf8Vw">PCPartPicker Part List</a>
<table class="pcpp-part-list">
  <thead>
    <tr>
      <th>Type</th>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pcpp-part-list-type">CPU</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/22XJ7P/amd-ryzen-9-7950x-45-ghz-16-core-processor-100-100000514wof">AMD Ryzen 9 7950X 4.5 GHz 16-Core Processor</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/22XJ7P/amd-ryzen-9-7950x-45-ghz-16-core-processor-100-100000514wof">£560.99 @ Amazon UK</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Motherboard</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/MXjBD3/asus-rog-crosshair-x670e-extreme-eatx-am5-motherboard-rog-crosshair-x670e-extreme">Asus ROG CROSSHAIR X670E EXTREME EATX AM5 Motherboard</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/MXjBD3/asus-rog-crosshair-x670e-extreme-eatx-am5-motherboard-rog-crosshair-x670e-extreme">£894.95 @ AWD-IT</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Memory</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/hRQcCJ/gskill-trident-z5-neo-rgb-64-gb-2-x-32-gb-ddr5-6000-cl30-memory-f5-6000j3040g32gx2-tz5nr">G.Skill Trident Z5 Neo RGB 64 GB (2 x 32 GB) DDR5-6000 CL30 Memory</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/hRQcCJ/gskill-trident-z5-neo-rgb-64-gb-2-x-32-gb-ddr5-6000-cl30-memory-f5-6000j3040g32gx2-tz5nr">£443.99 @ MoreCoCo</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Storage</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/f3cRsY/samsung-980-pro-2-tb-m2-2280-nvme-solid-state-drive-mz-v8p2t0bam">Samsung 980 Pro 2 TB M.2-2280 PCIe 4.0 X4 NVME Solid State Drive</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/f3cRsY/samsung-980-pro-2-tb-m2-2280-nvme-solid-state-drive-mz-v8p2t0bam">£167.99 @ Amazon UK</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Storage</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/f3cRsY/samsung-980-pro-2-tb-m2-2280-nvme-solid-state-drive-mz-v8p2t0bam">Samsung 980 Pro 2 TB M.2-2280 PCIe 4.0 X4 NVME Solid State Drive</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/f3cRsY/samsung-980-pro-2-tb-m2-2280-nvme-solid-state-drive-mz-v8p2t0bam">£167.99 @ Amazon UK</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Video Card</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/ZKWzK8/asus-rog-strix-gaming-oc-geforce-rtx-4090-24-gb-video-card-rog-strix-rtx4090-o24g-gaming">Asus ROG STRIX GAMING OC GeForce RTX 4090 24 GB Video Card</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/ZKWzK8/asus-rog-strix-gaming-oc-geforce-rtx-4090-24-gb-video-card-rog-strix-rtx4090-o24g-gaming">£2127.59 @ Newegg UK</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Case</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/bHprxr/corsair-obsidian-series-1000d-atx-full-tower-case-cc-9011148-ww">Corsair Obsidian Series 1000D ATX Full Tower Case</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/bHprxr/corsair-obsidian-series-1000d-atx-full-tower-case-cc-9011148-ww">£559.99 @ Scan.co.uk</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Operating System</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/dKkWGX/microsoft-windows-11-home-oem-dvd-64-bit-kw9-00633">Microsoft Windows 11 Home OEM - DVD 64-bit</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/dKkWGX/microsoft-windows-11-home-oem-dvd-64-bit-kw9-00633">£113.98 @ Currys PC World Business</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Monitor</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/zLkj4D/asus-vg278q-270-1920x1080-144-hz-monitor-vg278q">Asus VG278Q 27.0" 1920 x 1080 144 Hz Monitor</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/zLkj4D/asus-vg278q-270-1920x1080-144-hz-monitor-vg278q">£276.89 @ Senetic</a>
      </td>
    </tr>
    <tr>
      <td class="pcpp-part-list-type">Monitor</td>
      <td class="pcpp-part-list-item"><a href="https://uk.pcpartpicker.com/product/wywypg/alienware-aw3423dwf-342-3440-x-1440-165-hz-curved-monitor-aw3423dwf">Alienware AW3423DWF 34.2" 3440 x 1440 165 Hz Curved Monitor</a></td>
      <td class="pcpp-part-list-price">
        <a href="https://uk.pcpartpicker.com/product/wywypg/alienware-aw3423dwf-342-3440-x-1440-165-hz-curved-monitor-aw3423dwf">£879.99 @ Amazon UK</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="pcpp-part-list-total">Total</td>
      <td class="pcpp-part-list-total-price">£6194.35</td>
    </tr>
    <tr>
      <td></td>
      <td class="pcpp-part-list-price-note">Generated by <a href="https://pcpartpicker.com">PCPartPicker</a> 2023-03-04 02:59 GMT+0000</td>
      <td></td>
    </tr>
  </tbody>
</table>
