<table>
  <thead>
  <tr><th>Component </th><th>Specification </th></tr>
  </thead>
  <tbody>
  <tr><td><strong>CPU</strong></td><td>x86-64-AMD Ryzen Zen 8 Cores / 16 Threads at 3.5GHz (variable frequency)</td></tr>
  <tr><td><strong>GPU</strong></td><td>Ray Tracing Acceleration<br>Up to 2.23 GHz (10.3 TFLOPS)</td></tr>
  <tr><td><strong>GPU Architecture</strong></td><td>AMD Radeon RDNA 2-based graphics engine</td></tr>
  <tr><td><strong>Memory/Interface</strong></td><td>16GB GDDR6/256-bit</td></tr>
  <tr><td><strong>Memory Bandwidth</strong></td><td>448GB/s</td></tr>
  <tr><td><strong>Internal Storage</strong></td><td>Custom 825GB SSD</td></tr>
  <tr><td><strong>IO Throughput</strong></td><td>5.5GB/s (Raw), Typical 8-9GB/s (Compressed)</td></tr>
  <tr><td><strong>Expandable Storage</strong></td><td>NVMe SSD Slot</td></tr>
  <tr><td><strong>External Storage</strong></td><td>USB HDD Support</td></tr>
  <tr><td><strong>Optical Drive (optional)</strong></td><td>Ultra HD Blu-ray (66G/100G) ~10xCAV<br>BD-ROM (25G/50G) ~8xCAV<br>BD-R/RE (25G/50G) ~8x CAV<br>DVD ~3.2xCLV</td></tr>
  <tr><td><strong>PS5 Game Disc</strong></td><td>Ultra HD Blu-ray, up to 100GB/disc</td></tr>
  <tr><td><strong>Audio</strong></td><td>"Tempest" 3D AudioTech</td></tr>
  <tr><td><strong>Video Out</strong></td><td>HDMI Out port<br>Support of 4K 120Hz TVs, VRR (specified by HDMI ver 2.1)</td></tr>
  <tr><td><strong>Dimensions</strong></td><td><strong>PS5</strong> - 390mm x 104mm x 260mm (width x height x depth)<br><strong>PS5 Digital Edition</strong> - 390mm x 92mm x 260mm (width x height x depth)</td></tr>
  <tr><td><strong>Weight</strong></td><td><strong>PS5</strong> - 4.5kg</td></tr>
  <tr><td><strong>Power</strong></td><td><strong>PS5</strong> - 350W</td></tr>
  <tr><td><strong>Input / Output</strong></td><td>USB Type-A port (Hi-Speed USB)<br>USB Type-A port (Super Speed USB 10Gbps) x2<br>USB Type-C port (Super Speed USB 10Gbps)</td></tr>
  <tr><td><strong>Networking</strong></td><td>Ethernet (10BASE-T, 100BASE-TX, 1000BASE-T)<br>IEEE 802.11 a/b/g/n/ac/ax<br>Bluetooth 5.1</td></tr>
  </tbody>
  </table>
